<div class="container  text-center">
<h4>Welcome Career Camp 2023!</h4>
</div>
<div class="container w-75">

        <div class="container mt-5">
            <h1>Interview Database Form</h1>
            <form action="" method="post">
                
                <!-- student -->
                <div class="mb-3">
                    <label for="batchInput" class="form-label">Name</label>
                    <input type="text" class="form-control" id="batchInput" placeholder="Enter Name">
                </div>
                 
                 <div class="mb-3">
                    <label for="batchInput" class="form-label">Email</label>
                    <input type="email" class="form-control" id="batchInput" placeholder="Enter Email">
                </div
                <!-- Batch -->
                <div class="mb-3">
                    <label for="batchInput" class="form-label">Batch</label>
                    <input type="text" class="form-control" id="batchInput" placeholder="Enter Batch">
                </div>
    
                <!-- Student Details -->
                <div class="mb-3">
                    <label for="collegeInput" class="form-label">College</label>
                    <input type="text" class="form-control" id="collegeInput" placeholder="Enter College">
                </div>
                <div class="mb-3">
                    <label for="statusInput" class="form-label">Status</label>
                    <select class="form-select" id="statusInput">
                        <option value="placed">Placed</option>
                        <option value="not_placed">Not Placed</option>
                    </select>
                </div>
    
                <!-- Course Scores -->
                <div class="mb-3">
                    <label for="dsaScoreInput" class="form-label">DSA Final Score</label>
                    <input type="number" class="form-control" id="dsaScoreInput" placeholder="Enter DSA Final Score">
                </div>
                <div class="mb-3">
                    <label for="webdScoreInput" class="form-label">WebD Final Score</label>
                    <input type="number" class="form-control" id="webdScoreInput" placeholder="Enter WebD Final Score">
                </div>
                <div class="mb-3">
                    <label for="reactScoreInput" class="form-label">React Final Score</label>
                    <input type="number" class="form-control" id="reactScoreInput" placeholder="Enter React Final Score">
                </div>
    
                <!-- Interviews -->
                <div class="mb-3">
                    <label for="companyInput" class="form-label">Company Name</label>
                    <input type="text" class="form-control" id="companyInput" placeholder="Enter Company Name">
                </div>
                <div class="mb-3">
                    <label for="dateInput" class="form-label">Date</label>
                    <input type="date" class="form-control" id="dateInput">
                </div>
    
                <!-- Results -->
                <div class="mb-3">
                    <label for="resultInput" class="form-label">Result</label>
                    <select class="form-select" id="resultInput">
                        <option value="PASS">PASS</option>
                        <option value="FAIL">FAIL</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Didn't Attempt">Didn't Attempt</option>
                    </select>
                </div>
    
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    
      
    

</div>